header {
    height: 120px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #0061a8;
    display: flex;
    justify-content:right;
    padding-right: min(2%, 20px);
    align-items: center;
}

.color {
    background-color: #e41f25;
}

.color:hover {
    background-color: rgb(228, 31, 37, 0.9);
}

.search_field {
    height: 40px;
    width: clamp(143px, 40%, 300px);
}

.click_btn{
    background-color: #0061a8;
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border: 3px solid #750a00;
}

.border {
    border: none;
}

h1 {
    padding: 10px;
    position: relative;
    text-align: center;
    color: #0061a8;
    font-size: 40px;
}

h1::before {
    content: attr(data-content);
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #750a00;
}

.width {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.width_header {
    display: flex;
    justify-content: flex-end;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display_hint{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #0061a8;
    width: 200px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.render_btn {
    position: sticky;
    z-index: 2;
    top: 5px;
    left: 5px;
    border: none;
     margin-left: auto;
    background-color: rgba(255, 255, 255, 0);
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.class_hover:hover {
    animation-duration: 2s;
    animation-name: spin;
}

.spinner {
    margin-top: 40px;
    animation: infinite;
    animation-duration: 1s;
    animation-name: spin;
    animation-timing-function: linear;
    
}

footer {
    height: 120px;
    background-color: #750a00;
    margin-top: 30px;
}