header {
    height: 120px;
    background-color: #0061a8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color {
    background-color: #e41f25;
}

.color:hover {
    background-color: rgb(228, 31, 37, 0.9);
}

.search_field {
    padding-right: 10px;
    width: clamp(180px, 40%, 300px);
}

.border {
    border: none;
}

h1 {
    padding: 10px;
    position: relative;
    text-align: center;
    color: #0061a8;
}

h1::before{
  content: attr(data-content);
  position:absolute;
  top:7px; 
  left:0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  color:#750a00;
}

.content_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





footer {
    height: 120px;
    background-color: #750a00;
    margin-top: 30px;
}