header>img {
    width: clamp(80px, 10%, 100px);
    height: auto;
    padding-left: 10px;
}

.position_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.poke_img {
    height: auto;
    width: 148px;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn_svg {
    height: 50px;
    width: 50px;
}

#single_pokemon_pic {
    height: auto;
    width: 200px;
}

.search_pic {
    height: auto;
    width: 108px;
}

.spinner_img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}