dialog[open] {
    display: flex;
}

.dialogWindow {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    backdrop-filter: blur(2px);
}

.position_dialog {
    position: relative;
    left: 50%;
    align-content: center;
    translate: -50%;
}

.single_card_display {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0061a8;
    border: 5px solid #f7c505;
    padding: 16px;
    width: clamp(233px, 60vw, 600px);
    height: min(900px, 98%);
    border-radius: 20px;
    color: #dddcdc;
}

.center {
    display: flex;
    justify-content: center;
}

.single_pokemon_btn {
    background: none;
    border: none;
    padding: 0;
}

#btn_forward {
    position: absolute;
    top: 50%;
    right: -52px;
}

#btn_backward {
    position: absolute;
    top: 50%;
    left: -42px;
}

#close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.big {
    font-size: clamp(25px, calc(3vw + 1rem), 35px)
}

.single_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 5px;
    margin-top: 32px;
}

.single_types {
    display: flex;
    gap: 20px;
}

.display_type {
    border: 1px solid;
    border-radius: 20px;
    border-color: white;
    padding: 6px;
    width: 68px;
    display: flex;
    justify-content: center;
}

.single_pic_display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    border: 5px solid #f7c505;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.nav_line {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.about_display {
    height: 185px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stat_display {
    margin-top: min(5px, 2%);
    max-width: 80%;
}

.single_stat {
    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
}

.stat {
    min-width: 180px;
    margin-bottom: 2px;
}

.num_display {
    height: 10px;
    background-color: #f7c505;
    border-radius: 5px;
    border: 1px solid #f7c505;
}