dialog[open] {
    display: flex;
}

.dialogWindow {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(80, 77, 77, 0.8);
    /* liquid class conzept? */
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.single_dialog_window {
    margin: auto;
    width: 60%;
    max-width: 800px;
}

.single_card_display {
    position: relative;
    margin: auto;
    background-color: rgb(55, 91, 164);
    display: flex;
    flex-direction: column;
    border: 10px solid #f7c505;
    padding: 30px;
    height: 850px;
    max-height: 80%;
    width: 60%;
    max-width: 550px;
    border-radius: 20px;
    color: #dddcdc;
}

.center {
    display: flex;
    justify-content: center;
}

.single_pokemon_btn {
    background: none;
    border: none;
    padding: 0;
}

#btn_forward {
    position: absolute;
    top: 50%;
    right: -52px;
}

#btn_backward {
    position: absolute;
    top: 50%;
    left: -42px;
}

#close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.big {
    font-size: 35px;
    margin-top: 20px;
}

.single_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.single_types {
    display: flex;
    gap: 20px;
}

.display_type{
    border: 1px solid;
    border-radius: 20px;
    border-color: white;
    padding: 6px;
    width: 68px;
    display: flex;
    justify-content: center;
    
}

.single_pic_display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 10px solid #f7c505;
    margin-left: auto;
    margin-right: auto;
}

.nav_line {
    display: flex;
    justify-content: space-around;
    color: #f7c505;
    
}

.stat_display {
    
}

.single_stat{
    
    
    
}