* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.height {
    min-height: calc(100vh - 120px);
}

body {
    font-family: "Electrolize";
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.divider{
    height: 1px;
    background-color: black;
    width: 99%;
    margin: 5px;
}

.d_none {
    display: none;
}

