* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.height {
    min-height: calc(100vh - 150px);
}

body {
    font-family: "Electrolize";
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.divider{
    height: 1px;
    background-color: #f7c505;
    margin-bottom: 7px; 
}

.d_none {
    display: none;
}

